/* Import - Importa il foglio di stile generico */
@import url("style.css");

.espositore {
    width: 100vh;
    height: 100vh;

    background: url("../image/espositore.png");
    border-radius: 50%;
    background-size: 100% 100%;
}

#piastrella-0 {
    position: relative;
    top: 10%;
    left: 10%;
}

#piastrella-1 {
    position: relative;
    top: 10%;
    left: calc(-20% + 70%);
}

#piastrella-2 {
    position: relative;
    top: calc(10% + 60%);
    left: calc(-40% + 10%);
}

#piastrella-3 {
    position: relative;
    top: calc(10% + 60%);
    left: calc(-60% + 70%);
}

/*.espositore .base {
    
}*/

.espositore .piastrella {
    width: 20%;
    height: 20%;
}
